body{
    background-color: #ffaaff;
}

.room_left {
    position: fixed;
	left: 200px;
}

.room_hcenter {
    position: fixed;
	left: 300px;
}

.room_right {
    position: fixed;
	left: 400px;
}

.room_top {
    position: fixed;
	top: 200px;
}

.room_vcenter {
    position: fixed;
	top: 300px;
}

.room_bottom {
    position: fixed;
	top: 400px;
}

#door {
  width: 50px;
  height: 10px;
  background-color: brown;
}

.ui-rotatable-handle {
    height: 16px;
    width: 16px;
    background-color: red;
    background-size: 100%;
    left: 2px;
    bottom: 2px;
}

#north_selector {
    width: 200px;
    height: 200px;
}