body{
    background-color: #ffaaff;
}

.room_left {
    position: fixed;
	left: 200px;
    top: 200px;
}

.room_right {
    position: fixed;
	left: 600px;
    top: 200px;
}

.room_top {
    position: fixed;
	left: 200px;
	top: 200px;
}

.room_bottom {
    position: fixed;
	left: 200px;
	top: 600px;
}

.wall_horizontal {
  width: 400px;
  height: 10px;
  background-color: green;
}

.wall_vertical {
  width: 10px;
  height: 400px;
  background-color: blue;
}

#door {
  width: 50px;
  height: 10px;
  background-color: brown;
}

.ui-rotatable-handle {
    height: 400px;
    width: 400px;
    background-size: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/Simple_compass_rose.svg");
}

#north_selector {
    width: 400px;
    height: 400px;
    position: fixed;
    left: 200px;
    top: 200px;
}